/* CSS file for Leicester Folk Diary index.html file */

body {text-align:center; padding:8px; background-image:url(husavik.jpg); background-repeat:repeat; }

#wrapper {background-color:#e8d8b8; width:98%; text-align:left; margin-left:auto; margin-right:auto;}


#sidebar ul li {display:inline; line-height:220%; }
#sidebar a {padding:3px; color:white; background-color:gray; border-style:outset; text-decoration:none; }
#sidebar a:hover, 
#sidebar a:active {border-style:inset;color:black; }


#clubs {padding: 8px; width:350px; float:right; background-color:#e8d8b8; margin-right: 8px; margin-top: -10px; }
#clubs a:hover, #sidebar a:active {color:black; }

#header {color:black; padding: 10px; margin-left:1em; margin-right:4em; margin-top:-0.5em; }
#header h1 {margin-top: -10px; margin-bottom: 4px; }


#article {color:black; padding:1em; margin-left:8px;background-color:#eeddbb; margin-right: 320px; margin-top:-10px; }


#footer {clear:both; border: none; color:black; padding:8px; }

#navbar {padding-top:0.1em; }
#navbar ul li {display:inline; line-height:220%; }
#navbar a {padding:3px; color:white; background-color:gray; font-family:sans-serif; border-style:outset; text-decoration:none; }
#navbar a:hover, 
#navbar a:active {border-style:inset;color:black; }

.floatright {float:right; margin:10px;}
.floatleft {float:left; margin:10px;}

img {border: 2px solid white; }

pre { overflow: auto; }

td {border: 1px solid black;}
